body{
    margin: 0;
    font-family: Arial, sans-serif;
}


.relative-block{
    background-color: #ccc;
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.relative-block:nth-of-type(3){
    position: relative;
    top: 300px;
    left: 15px;
}