body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    padding: 20px 0 10px 0;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}