#menu{
    list-style: none;
    height: 0;
    overflow: hidden;
    background-color: bisque;
    transition: all 0.3s;
}

#toggle{
    opacity: 0;
}

#toggle:checked + #menu{
    height: 90px;
}

#menu li{
    height: 30px;
}
#menu li:hover{
    background-color: aqua;
}
#menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}