body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.relative-parent{
    background-color: aqua;
    height: 50vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    position: relative;
}

.absolute-block{
    background-color: red;
    border: 1px solid #000;
    text-align: center;
    font-size: 2rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
}

.absolute-block:nth-of-type(1){
    top: 0;
    left: 0;
}

.absolute-block:nth-of-type(2){
    top: 0;
    right: 0;
}

.absolute-block:nth-of-type(3){
    right: 0;
    bottom: 0;
}

.absolute-block:nth-of-type(4){
    left: 0;
    bottom: 0;
}

