#hero{
    padding: 150px;
    background-image: url(https://picsum.photos/500/500);
    color: #fff;
    height: 200px;
    position: relative;
}

#hero .content{
    position: relative;
    z-index: 2;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}
