.bg{
    height: 200px;
    background-color: black;
    margin-bottom: 5px;
}

#bg1{
    background-image: url(../img/css-icon.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: top left;
}

#bg2{
    background-image: url(../img/css-icon.png), url(../img/css-icon.png);
    background-size: 25px, 50px;
    background-repeat: no-repeat, repeat-x;
    background-position: top left, center;
}

#bg3{
    background-image: url(https://picsum.photos/400/500);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}


#bg4{
    background-image: linear-gradient(45deg, red 0%, black 200%, blue);
}
