#memory{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    max-height: 800px;
    max-width: 800px;
}
.card-item{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    flex: 1 0 calc(25% - 1px);
    aspect-ratio: 1/1;
}

.icon{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-item.flipped .icon{
    transform: rotateY(0deg);
}